.Header-Container {
    padding: 10px 20px;
}

.Currency-Stats {
    background-color: #35548b;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.Currency-h4 {
    background-color: #35548b;
    padding: 5px 10px;
    margin: 0;
}

.Filter {
    border-radius: 6px;
    border: none;
    color: black;
    width: 40%;
    margin: 5px;
}

.Currencies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.Currency:nth-child(8n-7) {
    background-color: #4369b2;
  }

  .Currency:nth-child(8n-6) {
    background-color: #5687e4;
  }

  .Currency:nth-child(8n-5) {
    background-color: #5687e4;
  }

  .Currency:nth-child(8n-4) {
    background-color: #4369b2;
  }

  .Currency:nth-child(8n-3) {
    background-color: #4369b2;
  }

  .Currency:nth-child(8n-2) {
    background-color: #5687e4;
  }

  .Currency:nth-child(8n-1) {
    background-color: #5687e4;
  }

  .Currency:nth-child(8n) {
    background-color: #4369b2;
  }
