.Header-Container {
    display: flex;
    align-items: center;
    background-color: #5687e3;
  }

  .Header-Picture {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .Header-Picture img {
    width: 125px;
  }

  .Header-Name {
    align-items: center;
  }